#barchart
#linechart

:javascript
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawCharts);

  function barChart() {
    var events_weekday = #{@events_weekday.to_a.to_json};
    var raw_data = [['Week Day', 'Minutes in Meetings']];
    events_weekday.forEach(function(d) {
      var row = d;

      switch(parseInt(d[0])) {
        case 0: row[0] = 'Monday'; break;
        case 1: row[0] = 'Tuesday'; break;
        case 2: row[0] = 'Wednesday'; break;
        case 3: row[0] = 'Thursday'; break;
        case 4: row[0] = 'Friday'; break;
        case 5: row[0] = 'Saturday'; break;
        case 6: row[0] = 'Sunday'; break;
        default: row[0] = d[0]; break;
      };

      raw_data.push(row);
    });

    var data = google.visualization.arrayToDataTable(raw_data);

    var options = {
      title: 'Meetings booked per Week Day'
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('barchart'));
    chart.draw(data, options);
  }

  function lineChart() {
    var events = #{@events.to_a.to_json};
    var raw_data = [['Date', 'Minutes in Meetings']];

    events.forEach(function(d) { 
      var row = d;

      row[0] = new Date(d[0]);

      raw_data.push(row);
    });

    var data = google.visualization.arrayToDataTable(raw_data);

    var options = {
      title: 'Meetings booked per Week Day',
      hAxis: {
        format: 'MMM d, y'
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('linechart'));
    chart.draw(data, options);
  }
  function drawCharts() {
    barChart();
    lineChart();
  }
