.row
  .col-xs-6.col-md-4 &nbsp;
  .col-xs-6.col-md-4.well
    %h2
      Google Calendar stats

    %p
      This app will give you some quick stats about how busy you have been in the past. There's certainly some actionable insights as well as some fun graphs to interact with.

    %a.btn.btn-large.btn-primary{href: stats_url}
      Generate Stats
  .col-xs-6.col-md-4 &nbsp;

